<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.yuriik.BetterTranslate.openSettingsOnAppLaunch</key>
	<true/>
	<key>com.yuriik.BetterTranslate.escClosesTranslationWindow</key>
	<true/>
	<key>com.yuriik.BetterTranslate.clickOutsideClosesTranslationWindow</key>
	<true/>
	<key>com.yuriik.BetterTranslate.translationWebsites</key>
	<dict>
		<key>Google Translate</key>
		<string>https://translate.google.com</string>
		<key>DeepL</key>
		<string>https://www.deepl.com/translator</string>
		<key>Bing</key>
		<string>https://www.bing.com/translator</string>
		<key>Papago</key>
		<string>https://papago.naver.com</string>
		<key>Reverso</key>
		<string>https://www.reverso.net/text-translation</string>
	</dict>
	<key>com.yuriik.BetterTranslate.translationWebsite</key>
	<string>https://translate.google.com</string>
	<key>com.yuriik.BetterTranslate.translationPageZoom</key>
	<integer>1</integer>
	<key>com.yuriik.BetterTranslate.translationWindowDefaultSize</key>
	<dict>
		<key>width</key>
		<integer>800</integer>
		<key>height</key>
		<integer>600</integer>
	</dict>
</dict>
</plist>
